<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.keychron-usinternational</string>
	<key>CFBundleName</key>
	<string>Keychron - US International</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Keychron - U.S. International</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.keychron-usinternational.keychron-u.s.international</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
